<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand">-->
<!--<img src="assets/img/ngx-bootstrap.svg" class="logo">-->
<!--</a>-->
<!--<span class="navbar-brand">OCTO CRM</span>-->
<!--</div>-->
<!--<ul class="nav navbar-nav">-->
<!--<li class="active"><a href="#">-->
<!--Link <span class="sr-only">(asdasdas)</span>-->
<!--</a></li>-->
<!--<li><a href="#">Link</a></li>-->
<!--<li class="dropdown" dropdown> &lt;!&ndash; {1} &ndash;&gt;-->
<!--<a dropdownToggle role="button"> &lt;!&ndash; {2} &ndash;&gt;-->
<!--Dropdown <span class="caret"></span></a>-->
<!--<ul *dropdownMenu class="dropdown-menu"> &lt;!&ndash; {3} &ndash;&gt;-->
<!--<li><a href="#">Action</a></li>-->
<!--<li><a href="#">Another action</a></li>-->
<!--<li><a href="#">Something else here</a></li>-->
<!--<li role="separator" class="divider"></li>-->
<!--<li><a href="#">Separated link</a></li>-->
<!--<li role="separator" class="divider"></li>-->
<!--<li><a href="#">One more separated link</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<!--<div class="col-sm-4">-->
  <!--<div class="bc-col-4">-->
    <!--<button class="btn-primary">-->
      <!--Click me-->
    <!--</button>-->
  <!--</div>-->
  <!--<div class="bc-col-8">-->
    <!--<router-outlet></router-outlet>-->
  <!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col-md-12">
    Top bar
  </div>
  <div class="col-sm-2">
      Sidebar
  </div>
  <div class="col-lg-10">
    <router-outlet></router-outlet>
  </div>
</div>

