<div class="wrapper">
    <div class="col-md-12 padding0">
        <div class="col-md-2 padding0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10 padding0">
            <nav class="navbar navbar-default">
                <div class="brand-centered">
                    <a class="navbar-brand" href=""><img
                            style="margin-right: 10px; padding: 0;"
                            src="https://res.cloudinary.com/disputebills/image/upload/v1462474206/blue-mark_cnzgry.png"
                            alt="Dispute Bills">OCTOWeb
                    </a>
                </div>
            </nav>

            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>